html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
}


li {
	list-style-type:circle;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0em auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    width:100%;
}
/*My name!!!!!*/
h1 {
    -webkit-animation: opacity 0.5s;
            animation: opacity 0.5s;
    margin:0 3em .1em 3em;
    font-size:3em;
    text-align:center;
    border-bottom:3px solid #222;
    color: #222;
}
/*my phot's setting*/
#avatar {
    padding:1em 0 0 0;
}

#avatar_img {
    -webkit-animation: opacity 0.5s;
            animation: opacity 0.5s;
    background: transparent;
    border: .2em solid rgba(0, 0, 0, 0.12);
    border-radius:99em;
    display: block;
    margin: auto;
    margin-bottom: auto;
    max-width: 95%;
}

#social-links {
    -webkit-animation: opacity 0.5s;
            animation: opacity 0.5s;
    text-align:center;
    float: none;
}

#link:hover {
    -webkit-animation: opacity 0.5s;
            animation: opacity 0.5s;
}

li:hover, tr:hover {
    -webkit-animation: bg_color 0.5s;
            animation: bg_color 0.5s;
}
/*
h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 700;
    line-height: 1.3;
}
*/

#contact {
    -webkit-animation: opacity 0.5s;
            animation: opacity 0.5s;
    color: #222;
    line-height: 1.3;
    font-size:1.3em;
    text-align:center;
    margin:0 0 1em 0;
}

#summary {
/*    background: #000;*/
    color: #000;
    text-align: left;
    font-size: 1em;
    margin:2em 0 2em 0;
}

h2, h3, h4, h5, h6  {
    margin:0 0 .9em 0;
    font-size:1.3em;
    text-align:left;
    border-bottom:3px solid #000;
    color: #222;
}
a {
    color: #0083e8;
}

b, strong {
    color: #0083e8;
/*    font-weight: bolder;*/
    font-weight: 700;
}

#chart1 {
    height: 250px;
}
svg {
    margin: auto;
    display: block;
}

footer{
    color: white;
    background-color: #aeaca8;
    height: 25px;
    display: block;
/*    margin-bottom: auto;*/
    font-size: 80%;
    text-align: center;
    margin-bottom: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    bottom: 0em;
    width: 100%;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bg_color {
    0% {
        background-color: #e6e9e9;
    }
    100% {
        background-color: #FFDE95;
    }
}

@keyframes bg_color {
    0% {
        background-color: #e6e9e9;
    }
    100% {
        background-color: #FFDE95;
    }
}